__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
Python*/
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
dist/
build/
*.egg-info/
.installed.cfg
*.manifest
*.spec
.pytest_cache/
.mypy_cache/
.vscode/
.idea/
.streamlit/
.env